body{
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}
#top{
    margin: 0;
    height:1080px;
    background-image: url(images/donation.jpg);
    background-repeat: no-repeat;
    text-align: justify;
    text-align: center;
    padding: 100px;
}
#top-header{
    font-size: 100px;
    color: white;
}
#top-p{
    font-size: 30px;
    color: white;

}
button{
    color: white;
    background-color:orangered;
    font-size: x-large;
    padding: 20px;
    border-radius: 10px;
    border: 0;
    margin: 0;
}

.two{
    text-align: center;
    margin-top: 200px;
}
h1{
    font-size: 60px;
}
p{
    font-size: 25px;
}
#inner{
    display: flex;
    margin-left: 380px;
}
h2{
    color: darkgray;
    font-size: xxx-large;
    padding: 70px 20px;
    margin: 20px;
    background-color: aliceblue;
}
#inner2{
    display: flex;
}
#d1{
    margin: 20px;
    padding: 5%;
    background-color: aliceblue;
    
}
#d2{
    margin: 20px;
    padding: 5%;
    background-color:aquamarine;
    
}
#d3{
    margin: 20px;
    padding: 5%;
    background-color:bisque;
    
}
h3{
    font-size: xx-large;
}

footer{
    height: 200px;
    padding: 25px;
    color: aliceblue;
    text-align: center;
    background-color: black;
}
h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
    color: red;
}

#last{
    text-align: center;
    width: 75%;
    margin-left: 300px;
    margin-top: 200px;
}

#bonus{
    display: flex;
    margin-top: 200px;
    margin-left: 200px;
}